<div class="homepage_container">
  <div id="main_logo">
    <%= image_tag "wally_world.jpg" %>
  </div>
  <div id="user_links">
    <%= link_to "Sign in", signin_path %> | 
    <%= link_to "Sign up", new_user_path %>
  </div>
</div>